/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* font-family: 'Bai Jamjuree', sans-serif; */

:root{
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);

    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

body{
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: var(--grayish-blue);
}

h1, h2, h3{
  color: var(--dark-grayish-blue);
}

h1{
  font-size: 2.2rem;
  line-height: 1.1;
}

p{
  color: var(--grayish-blue);
}

.container{
    width: 90%;
    max-width: 400px;
    margin-inline: auto;
    background-color: white;
}

.inner-container{
  width: 85%;
  margin-inline: auto;
}

.background-images{
  position: relative;
}

.desktop-background{
  display: none;
}

.mobile-background{
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}

.header{
  text-align: center;  
}

.header p{
  margin: 2rem 0;
}

.logo{
  margin-inline: auto;
  padding: 8rem 0 5rem 0;
}

.buttons{
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn1, .btn2{
  margin-inline: auto;
  width: 90%;
  padding: 1rem 0;
  border-radius: 100px;
  color: white;
  cursor: pointer;
}

.btn1{
  background-color: var(--strong-cyan);
  border-bottom: 3px solid hsl(171, 65%, 35%);
  transition: .2s ease-in;
}

.btn1:hover{
  background-color: rgb(95, 209, 192);
}

.btn2{
  background-color: var(--light-blue);
  border-bottom: 3px solid hsl(233, 46%, 51%);
  transition: .2s ease-in;
}

.btn2:hover{
  background-color: hsl(233, 95%, 75%);
}

.top-info{
  text-align: center;
}

.top-comp-pic{
  padding: 3rem 0;
}

.top-comp-pic-desktop-absolute{
  display: none;
}

.top-info-text-section{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: 10rem;
}

.mid-info{
  text-align: center;
  padding: 3rem 0;
}

.mid-info img{
  padding: 3rem 0 5rem;
}

.mid-info-icon-flex{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.mid-info-text img{
  margin-inline: auto;
  padding: 2rem 0;
}

.mid-info-company-logos-flex{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-inline: auto;
  gap: 3.5rem;
  padding: 5rem 0;
}

.bottom-info{
  text-align: center;
}

.bottom-info p{
  margin: 1rem 0 3rem;
}

.footer{
  background-color: hsl(0, 0%, 95%);
}

.footer p{
  color: var(--dark-grayish-blue);
}

.footer-logo{
  width: 15%;
  margin-inline: auto;
  padding: 3rem 0;
}

.footer-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;  
}

.footer-links p{
  cursor: pointer;
  transition: .2s ease-in;
}

.footer-links p:hover{
  color: var(--strong-cyan);
}

.site-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;  
  font-size: 28px;
  padding-bottom: 3rem;  
}

.fa-brands{
  color: var(--dark-grayish-blue);
  transition: .2s ease-in;
  cursor: pointer;
}

.fa-brands:hover{
  color: var(--strong-cyan);
}

.attribution{
  text-align: center;
  color: var(--dark-grayish-blue);
  padding-bottom: 3rem;
}

.attribution a{
  text-decoration: none;
  color: var(--dark-grayish-blue);
  cursor: pointer;
  transition: .2s ease-in;
}

.attribution a:hover{
  color: var(--strong-cyan);
}

@media (min-width: 1000px){

  .mobile-background{
    display: none;
  }

  .desktop-background{
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
  }

  .container{
    max-width: 1500px;
  }

  .inner-container{
    width: 100%;
    overflow: hidden;
  }

  .header{
    width: 50%;
    margin-inline: auto;
  }

  .buttons{
    width: 80%;
    margin-inline: auto;
    flex-direction: row;
    justify-content: space-around;
  }

  .btn1, .btn2{
    max-width: 400px;    
  }

  .top-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    text-align: left;
    margin: 5rem 0;
  }

  .top-comp-pic{
    width: 50%;
    position: relative;
    padding: 0;
  }

  .top-info-text-section{
    width: 50%;
    padding-right: 2rem;
    padding-bottom: 0;
  }

  .top-info-text-section p{
    max-width: 40ch;
  }

  .top-comp-pic-overlay{
    opacity: 0;
  }

  .top-comp-pic-desktop-absolute{
    display: block;
    position: absolute;
    top: 48px;
    left: -28px;
  }

  .mid-info-header-and-text{
    width: 50%;
    margin-inline: auto;
  }

  .mid-info img{
    width: 70%;
    margin-inline: auto;
  }

  .mid-info-icon-flex{
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: auto;
  }

  .mid-info-text{
    max-width: 30%;
  }

  .mid-info-text img{
    width: 50px;
  }

  .mid-info-company-logos-flex{
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    gap: 1rem;
  }

  .mid-info-company-logos-flex img{
    margin: 0;
    padding: 0;
    height: 35px;
    max-width: 140px;
  }  

  .bottom-info{
    width: 50%;
    margin-inline: auto;
  }

  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
  }

  .footer-logo{
    width: 60px;
    padding: 0;
    margin: 0;
  }

  .footer-links{
    display: grid;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "footer1 footer2 footer3"
    "footer4 footer5 .";
  }

  .footer-link-1{
    grid-area: footer1;
  }

  .footer-link-2{
    grid-area: footer2;
  }

  .footer-link-3{
    grid-area: footer3;
  }

  .footer-link-4{
    grid-area: footer4;
  }

  .footer-link-5{
    grid-area: footer5;
  }

  .site-icons{
    padding: 0;
  }

  .attribution{
    padding: 0;
  }
}